<h1>Background</h1>
<p>We would like your feedback! Your goal is to predict which Republican 
Candidate will win the Iowa Caucus on January 3, 2012. If you predict the 
winning candidate, you can earn up to an additional $10! For this scenario 
you will be reviewing the seven (7) current candidates for the Republican 
Presidential nomination. In order to proceed, you must agree to the terms 
of our NDA (non-disclosure agreement) which specifies how you must treat 
this confidential information.</p>
<a href="#categories">Back</a>
<a href="#thank_you_fail" class="next do-not-agree">I Do Not Agree</a>
<a href="#initial_concept" class="next agree">I Agree</a>