<h1>Get Paid for Having FUN!!</h1>
<p>We'd like your help today by participating in a stock investing game. In this game we'll 
present you with a group of possible outcomes, complete with images and descriptions. Once you've 
reviewed each potential outcome, you'll be given the opportunity to buy " virtual stock shares " 
in them using a stock trading tool.</p><p>In addition to the reward you'll be receiving for 
participating, by investing in the potential outcome that actually occurs, you'll be 
able to win up to an additional $10!</p>

<h2>Sound like fun? Click "Next" to begin!</h2>
<a href="">Prev</a>
<a href="#categories" class="next">Next</a>