<!DOCTYPE html>
<!--[if lt IE 7]>      <html class="ie6"> <![endif]-->
<!--[if IE 7]>         <html class="ie7"> <![endif]-->
<!--[if IE 8]>         <html class="ie8"> <![endif]-->
<!--[if gt IE 8]><!--> <html>         <!--<![endif]-->

<head>
	<meta http-equiv="Content-type" content="text/html; charset=utf-8">
	<title>Infosurv Prediction Markets | V2 </title>
</head>
<body>
	<script id="intro" type="text/template">
		<h1>Get Paid for Having FUN!!</h1>
		<p>We'd like your help today by participating in a stock investing game. In this game we'll 
		present you with a group of possible outcomes, complete with images and descriptions. Once you've 
		reviewed each potential outcome, you'll be given the opportunity to buy " virtual stock shares " 
		in them using a stock trading tool.</p><p>In addition to the reward you'll be receiving for 
		participating, by investing in the potential outcome that actually occurs, you'll be 
		able to win up to an additional $10!</p>
		
		<h2>Sound like fun? Click "Next" to begin!</h2>
		<a href="">Prev</a>
		<a href="#categories" class="next">Next</a>
	</script>

	<script id="categories" type="text/template">
		<h1>Topic Categories</h1>
		<p>First, please select the three (3) topics you feel most qualified 
		to evaluate. Remember, you can only earn an additional reward by providing 
		correct predictions, so choose the topics you're most familiar with:</p>
		<ul>
		<% _.each(categories, function(cat, i) { %>
			<li><input type="checkbox" value="<%= cat %>"><%= cat %></li>
		<% }); %>
		</ul>
		<a href="">Prev</a>
		<a href="#background" class="next">Next</a>
	</script>

	<script id="background" type="text/template">
		<h1>Background</h1>
        <p>We would like your feedback! Your goal is to predict which Republican 
        Candidate will win the Iowa Caucus on January 3, 2012. If you predict the 
        winning candidate, you can earn up to an additional $10! For this scenario 
        you will be reviewing the seven (7) current candidates for the Republican 
        Presidential nomination. In order to proceed, you must agree to the terms 
        of our NDA (non-disclosure agreement) which specifies how you must treat 
        this confidential information.</p>
        <a href="#categories">Prev</a>
        <a href="#background" class="next">Next</a>
	</script>

	<div id="container"></div><!-- #container -->
	<!-- 
	<script src="js/app.js" charset="utf-8"></script>
	<script src="js/models/survey.js"></script>
	<script src="js/views/baseview.js"></script>
	<script src="js/views/intro.js"></script>
	<script src="js/views/categories.js"></script>
	<script src="js/views/background.js"></script>
	<script src="js/router.js"></script>
	-->
	<script src="js/lib/require.js" data-main="js/main"></script>
</body>
</html>